
/* .mobileWrapper{
    width: 375px;
    background-color: #383838;
    color: #F5F5F5;
    margin: 0 auto;
} */
/* .mobileP{
    color: #f5f5f5;
    max-width: 375px;
    max-height: 410px;
    background-image: url(../../shared/img/aboutMobile/frame_104.png);
    background-size: auto;
    padding: 8px;
} */
.mobileTextP, .mobileH2{
    text-align: center;
    padding: 8px;
    font-size: 14px;
}
.section2{
    width: 375px;
    height: 1081px;
    background-image: url(../../shared/img/aboutMobile/frame_161_1.png);
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}
.mobileSection{
    max-width: 170px;
}
.mobileH3{
    color: #DC6441;
    font-size: 14px;
    font-weight: bold;
}
.sectionP{
    font-size: 12px;
}
.section3{
    max-width: 377px;   
    max-height: 653px;
    background-image: url(../../shared/img/aboutMobile/Why_Q_Rush_2.png);
    background-size: auto;
}
.mobileSection3{
    padding: 15px;
    text-align: center;
}
.aMobile4{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #DC6441;
    text-align: center;
    padding: 18px;
}
.aMobileH3{
    color: #161616;
    font-size: 15px;
    font-weight: bold;
}
.aMobileP{
    color: #161616;
    font-weight: SemiBold;
    font-size: 13px;
}
.aMobileButton{
    background-color: #161616;
    color: #d9d9d9;
    padding: 8px;
}
