.about{
    padding-top: 6%;
}

.team{
    color: #f5f5f5;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    width: 1382px;
}
.team_text{
    padding-top: 60px;
}
.block2{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
/* .teamBlocks{
    display: flex;
    align-content: space-between;
} */
.team_blocks2{
    height: 762px;
}
.team_block{
    width: 1719px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.photo{
    width: 400px;
}