@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
  position: relative
 
}
@layer components {
  .container {
    @apply max-w-[1720px]  mx-auto font-montserrat;
  }
  .bg-animation {
    @apply [transition:background-image_1s_ease-in-out];
  }
  .ulContainer {
    @apply hidden
     
  }
  .ulContinerOpen {
    @apply block
     
  }
  .asideContainer {
    @apply fixed bottom-[110px] right-[125px] bg-[#F93822]   cursor-pointer z-50  rounded-[766.667px]  
  }
  .liNavOrange{
    @apply mb-[10px] mt-[7px]
  }
  .aNavOrange {
    @apply flex justify-center items-center p-[10px]  
  }
}

@layer components{
  .cont{
    @apply max-w-[1300px] mx-[auto] ease-in duration-300;
  }
  .contAfter{
    @apply w-[100%] border-solid border-[1px] border-[#ffffff] bg-[#F93822] text-[20px] pt-[18px] pb-[48px] pl-[47px] mb-[17px] rounded-[30px] font-[600] ease-in duration-300 cursor-pointer;
  }
  .contBefor{
    @apply w-[100%] border-solid border-[1px] border-[#ffffff] bg-[#F93822] text-[20px] pt-[8px] pb-[14px] pl-[47px] mb-[17px] rounded-[30px] font-[600] ease-in duration-300 cursor-pointer;
  }
  .subcontainerAfter{
    @apply flex justify-between items-center h-[44px] pr-[35px] mb-[40px] ease-in duration-300;
  }
  .subcontainerBefore{
    @apply flex justify-between items-center h-[44px] pr-[35px] mb-[0px] ease-in duration-300;
  }
  .textAfter{
    @apply text-[#000000];
  }
  .textBefore{
    @apply text-[#000000] hidden ease-in duration-300;
  }
  .imgAfte{
    @apply w-[20px] h-[20px] rotate-[-180deg] ease-in duration-300;
  }
  .imgBefore{
    @apply w-[20px] h-[20px] rotate-0 ease-in duration-300;
  }
  
}

.button {
  background: #fff;
  position: relative;
  transition: 0.3s;
  color: white;
}

.button::after {
  content: "";
  font-size: large;
  text-align: center;
  display: block;
  position: absolute;
  inset: 0;
  background: red;
  transition: 0.3s;
  color: white;
  z-index: 0;
}

.button::before {
  content: attr(data-text);
  font-size: large;
  text-align: center;
  display: block;
  position: absolute;
  inset: 0;
  background: transparent;
  transition: 0.3s;
  color: white;
  z-index: 1;
}

.button:hover::after {
  transform: scaleY(0) translateY(-15px);
  transform-origin: top;
  color: orange;
}

.button:hover::before {
  color: orange;
}

.btn {
  background-color: #161616;
  color: #fff;

}

.btn:hover::before,
.btn:hover::before {
  color: #161616;
  animation: none;
  transform: none;
  transition: none;      
}

.btn::after {
  background: #161616;
  transition: none;
  color: white;
  animation: none;
  transform: none;      
}