@tailwind base;
@tailwind components;
@tailwind utilities;

@import './classes.css';
@import '../../shared/style/classes.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
  position: relative
}
