.swiper-button-next{
    color: #FFFFFF;
    background-color: #FE0002;
    padding: 30px;
    border-radius: 50%;   
    opacity: 0.5;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
}

.swiper-button-prev{
    color: #FFFFFF;
    background-color: #FE0002;
    padding: 30px;
    border-radius: 50%; 
    opacity: 0.5;
}